body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

footer{
    background: #023047;
    height: 4rem;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.home-button{
    background: #023047;
    color: white;
    border-radius: 1.25rem;
    width: 12.5rem;
    height: 3.9rem;
   
}

.home-container{
    margin-bottom: 5%;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 3.0rem;
    text-align: center;
   

    
}

p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    
}

/*media queries*/
@media  (max-width: 913px) and (min-width: 768px){

    
    .home-button{
        margin-top: 0.75rem;
        
    }
}

@media (max-width:767.5px) and (min-width:481px){

    footer{
        height: 0;
    }

    .welcome{
        margin-bottom: 0.75rem;
    }

}

@media (max-width:480.5px){
    footer{
        height: 0;
    }
}

